.container{
    margin-top: 200px;
    padding: 20px;
    width: 600px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

    display: flex;
  
    /* Specific Gap */
    row-gap: 10px;
    column-gap: 10px;
    
    /* Or shorthand */
    gap: 10px 10px;
}
.item {
    height: 50px;
    width: 100px;
    background: #b1782e;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
